modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-drive:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-2acbf51a-a082-4579-b9f8-c885034b0c57"

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "193433676813-tq5d6c0elrnbscusljbc6n74n0k7h7g6.apps.googleusercontent.com"
VAPID_PUBLIC_KEY = "BEAfrJklMYprCgEcG-Ns0ANPhH6sDiM6iHIhOYyBMs05-i7gEr9E85RdAvhq3RSR5cRSZ6Dp0B6YiUyYbjKtUYU"
VAPID_PRIVATE_KEY = "AcA4tiUOSA1dCdutlbw59557MI0vgGPvbFhuSQ15yR4"
VAPID_SUBJECT = "mailto:notifications@gabschool.app"
